<p>
  statements works!
</p>
<app-list>
    <app-list-item *ngFor="let item of statmentsService.statements | async">
        <mat-card-header>
            <mat-icon mat-card-avatar>swap_vert</mat-icon>
            <mat-card-title>Account Number: {{item.accountNumber}}</mat-card-title>
            <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <span>{{item.startBalance}} </span>
          <span>{{item.endBalance}} </span>
          <span>{{item.mutation}} </span>
        </mat-card-content>

        <mat-grid-list cols="3">
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
              John
            </mat-grid-tile>
            <mat-grid-tile [style.border-right]="'1px dashed #ddd'">
              Paul
            </mat-grid-tile>
            <mat-grid-tile>
              Ringo
            </mat-grid-tile>
        </mat-grid-list>
      
    </app-list-item>
</app-list>
